.popup__submit {
  width: 358px;
  height: 50px;
  background-image: url(../../../images/submit-button.svg);
  background-color: #000000;
  border: 0;
}

.popup__submit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 890px){
  .popup__submit {
    width: 238px;
    height: 46px;
    background-image: url(../../../images/submit-button-min.svg);
  }
}
